.card {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 2000px;
  padding: 5px; /* Added padding to the card */
}

.imageWrapper {
  padding: 10px; /* Added padding to the image wrapper */
   margin-right: 20px;
}

.content {
  padding: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 18px;
}

.details {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 14px;
}

.label {
  font-weight: bold;
  margin-right: 8px;
}

.description {
  font-size: 12px;
  margin-bottom: 16px;
  margin-bottom: 16px;
}

.registerButton {
  background-color: #ffe600;
  color: #000000;
  border: none;
  padding: 5px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.detailItem {
  display: flex;
  align-items: center;
}

.details .icon {
  margin-right: 8px;
  color: #333;
  font-size: 18px;
}

.details span {
  font-weight: bold;
}